<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/Navigation-with-Search.css">
<link rel="stylesheet" href="../assets/css/Sidebar-Menu.css">
<link rel="stylesheet" href="../assets/css/Sidebar-Menu.css">
<link rel="stylesheet" href="../sales/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .one {
        border-bottom: solid red;
    }

    .one-container {
        padding-top: 5%;

    }

    .navi {
        width: 90%;
    }

    .kleines-feld {
        width: 40px;
    }
    .dropbtn {
        background-color: #1bdb29;
        color: #000000;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropup {
        position: relative;
        display: block;
    }

    .dropup-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        bottom: -120px;
        left: 0px;
        z-index: 1;
    }

    .dropup-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropup-content a:hover {background-color: #ccc}

    .dropup:hover .dropup-content {
        display: block;
    }

    .dropup:hover .dropbtn {
        background-color: rgba(185, 167, 184, 0);
    }

    .inline-block {
        display: inline-block;
    }

    .container {
        display: flex;
    }

    .link-container {
        float: left;
        margin: 0;
        padding: 0;
        left:0;
    }

    .content-container {
        margin-left: 0%;
        float: left;
    }

    a {
        text-decoration: none;
    }
    .sidenav {
        height: 100%;
        width: 15%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.99);
        overflow-x: hidden;
        padding-top: 00px;
    }
    .navisearch{
        margin-left: 10%;
    }
    .fro {
        margin-left: 70%;
    }
    .fro2 {
        width: 20%;
    }
    .fro3 {
        width: 80%;
    }
    .fro4 {
        width:100%;
    }
    .panel {
        background-color: rgba(255, 255, 255, 0.9);
    }
    .body {
        padding-top: 200px;
        margin-left: 450px;
    }
    .bb {
        width: 200px;

    }
    .field {
        width: 90%;
        height: 10%;
    }
    .dropdown {
        width: 100%;
    }
    .scontainer {
        margin-left: 5%;
        float: left;
    }
    #wrap {
        width: 100%;
    }


</style>