<div id="sidebar-wrapper" style="background-color:#37434d;">
    <h1>Servicepro</h1>
    <div class="mt-5">
        <a class="btn  btn-dark ml-2 mt-1 mb-1 navi" type="Suche" href="servicepro.php">Home</a>
        <div class="dropdown amk-border">
            <button class="btn btn-primary dropdown-toggle kein-rahmen" data-toggle="dropdown" aria-expanded="false"
                    type="button" style="width:100%;" href="account.php">Accounts & Produkte
            </button>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="accounts.php">Accounts</a><a
                    class="dropdown-item" role="presentation" href="mitarbeiter.php">Mitarbeiter</a><a
                    class="dropdown-item" role="presentation" href="ansprechpartner.php">Ansprechpartner</a></div>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle kein-rahmen" data-toggle="dropdown" aria-expanded="false"
                    type="button" style="width:248px;" href="serviceauftrag.php">Serviceaufträge
            </button>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation"
                                                      href="servicerückmeldung.php">Servicerückmeldungen</a><a
                    class="dropdown-item" role="presentation" href="serviceauftraege.php">Serviceauftrag</a><a
                    class="dropdown-item" role="presentation" href="produktver.php">Produktänderungsnachweise</a></div>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle kein-rahmen" data-toggle="dropdown" aria-expanded="false"
                    type="button" style="width:100%;" href="grundfunktion.php">Grundfunktionen
            </button>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="aktivitat.php">Aktivität</a><a
                    class="dropdown-item" role="presentation" href="fall.php">Fälle</a></div>
        </div>
    </div>
    <div></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col text-right" style="background-color:#37434d;">
            <input type="search" placeholder="Suchbegriff eingeben" id="grossesFeld">
            <button class="btn btn-primary ml-2 mt-1 mb-1" type="button">
                Suche
            </button>
            <a class="btn  btn-primary ml-2 mt-1 mb-1" type="Suche" href="logout.php">Logout</a>
        </div>
    </div>
</div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/js/Sidebar-Menu.js"></script>